* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 17px;
}

.parallax {
    /* The image used */
    background-image: url('image/image6.png.jpg');

    /* Full height */
    height: 700px; /* Adjust as needed */

    /* Create the parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    /* Optional styling */
    position: relative;
}
.content {
    height: 300px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(240, 208, 165, 0.904); /* White background with transparency */
    padding: 20px;
    text-align: center;
    
}
.parallax2 {
    /* The image used */
    background-image: url('image/image2.png.jpg');

    /* Full height */
    height: 500px; /* Adjust as needed */

    /* Create the parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Optional styling */
    position: relative;
}
.content2 {
    height: 500px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(154, 150, 150, 0.8); /* White background with transparency */
    padding: 20px;
    text-align: center;
}
.parallax3 {
    /* The image used */
    background-image: url('image/image1.png');

    /* Full height */
    height: 500px; /* Adjust as needed */

    /* Create the parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    /* Optional styling */
    position: relative;
}
.content3 {
    height: 350px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(208, 229, 144, 0.95); /* White background with transparency */
    padding: 20px;
    text-align: relative;
    
}
.parallax4 {
    /* The image used */
    background-image: url('image/image4.png.jpg');

    /* Full height */
    height: 500px; /* Adjust as needed *

    /* Create the parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    /* Optional styling */
    position: relative;
}
.content4 {
    height: 350px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8); /* White background with transparency */
    padding: 20px;
    text-align: relative;
    
}.parallax5 {
    /* The image used */
    background-image: url('image/image5.png.jpg');

    /* Full height */
    height: 500px; /* Adjust as needed *

    /* Create the parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* Optional styling */
    position: relative;
}.content5 {
    height: 350px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(243, 139, 139, 0.906); /* White background with transparency */
    padding: 20px;
    text-align: relative;
}.parallax6 {
    /* The image used */
    background-image: url('image/image7.png.jpg');
    /* Full height */
    height: 500px; /* Adjust as needed *
    /* Create the parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* Optional styling */
    position: relative;
}.content6 {
        height: 350px; /* Adjust as needed */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background:rgba(29, 171, 237, 0.8) ; /* White background with transparency */
        padding: 20px;
        text-align: relative;
        
}.parallax7 {
    /* The image used */
    background-image: url('image/image8.png.jpg');
    /* Full height */
    height: 500px; /* Adjust as needed *
    /* Create the parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* Optional styling */
    position: relative;
}.content7 {
    height: 200px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:rgba(236, 176, 176, 0.8) ; /* White background with transparency */
    padding: 20px;
    text-align: relative;
}.parallax8 {
    /* The image used */
    background-image: url('image/image9.jpg');
    /* Full height */
    height: 500px; /* Adjust as needed *
    /* Create the parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* Optional styling */
    position: relative;
}.content8 {
    height: 200px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:rgba(243, 207, 32, 0.8) ; /* White background with transparency */
    padding: 20px;
    text-align: relative;
}.parallax9 {
    /* The image used */
    background-image: url('image/image9.jpg');
    /* Full height */
    height: 500px; /* Adjust as needed *
    /* Create the parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* Optional styling */
    position: relative;
}.content9 {
    height: 150px; /* Adjust as needed */
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: top;
    background:hwb(0 52% 8% / 0.8) ; /* White background with transparency */
    padding: 20px;
    text-align: relative;
    font-size: 38px;
    font-family: 'frankline Gothic Medium','Arial Narrow'Arial,'Sans-serif';
}
h1, h2, h3, h4,h5, h6, h7, h8{
    margin: 20px 0;
}

p {
    max-width: 800px;
    line-height: 1.6;
}
#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background: #1684a3;
    width: 0%;
    z-index: 1000;
}

